<div class="container">
    <h2>Update Location</h2>
    <form class="row g-3 needs-validation" [formGroup]="updateLocation" (ngSubmit)="onSubmit()">
        <div class="col-md-4">
          <label for="nombre" class="form-label">Name:</label>
          <input [ngModel]="oneLocation.nombre" type="text" class="form-control" id="name" formControlName="nombre" required>
          <div class="error">
            <div *ngIf="updateLocation.get('nombre')?.invalid && updateLocation.get('nombre')?.touched">
                <div *ngIf="updateLocation.get('nombre')?.errors?.['required']"><small>Name is required.</small></div>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="urlImagen" class="form-label">Image URL:</label>
          <input [ngModel]="oneLocation.urlImagen" type="text" class="form-control" id="urlImagen" formControlName="urlImagen" required>
          <div class="error">
            <div *ngIf="updateLocation.get('urlImagen')?.invalid && updateLocation.get('urlImagen')?.touched">
                <div *ngIf="updateLocation.get('urlImagen')?.errors?.['required']"><small>Image URL is required.</small></div>
              </div>
          </div>
        </div> 
        <div class="col-12">
          <button class="btn btn-primary" type="submit" [disabled]="updateLocation.invalid">Register Location</button>
        </div>
      </form> 
</div>
