<div class="container">
  <div class="form-container">
    <h1 class="text-center">Welcome to BattleSteels</h1>
    <form >
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" formControlName="mail" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>

      <div class="links-group">
        <a class="link" >Forgot Password?</a><br>
        <span>Don't have an account? <a class="link" href="/register">Register here</a></span>
      </div>

    </form>
  </div>
</div>
